---
import LoadPhaser from "./Phaser/LoadPhaser.astro"
import Test from "./Test.astro"
---

<div class="wrapper">
  <Test />
  <div id="game-container">
    
    <LoadPhaser />
  </div>
</div>




<style>

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: black;
  }
  #game-container{
   display: inline-block;
  }

  #testButton{
    z-index: 5;
  }
</style>