---
import LoadPhaser from "./Phaser/LoadPhaser.astro"
---
<div class="wrapper">
  <div id="game-container">
    <LoadPhaser />
  </div>
</div>


<style>

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: black;
  }
  #game-container{
   display: inline-block;
  }
</style>