---
import LoadPhaser from "./Phaser/LoadPhaser.astro"
import Test from "./Test.astro"
---


<div class="game-wrapper">
  <Test />
  <div id="game-container">
    
    <LoadPhaser />
  </div>
</div>




<style>

  .game-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    background-color: black;
    height:100vh;
  }
  #game-container{
   display: inline-block;
  }

  .wrapper{
        background-color: black;

  }
  .header{
    /* color: white; */
  }

  #testButton{
    z-index: 5;
  }
</style>