
<div id="gameOverlay">
  <div class="init-wrapper">

<button id="onePlayer">One Player</button>
<button id="twoPlayer">Two Player</button>
<button id="threePlayer">Three Player</button>
</div>
<div class="play-again-wrapper hide">
  <button id="playAgain">Play Again</button>
</div>

</div>

<script>
  import { gameStarted, gameFinished } from "../store";
  gameStarted.subscribe(started => {
    if (started){
      document.querySelector('.init-wrapper')?.classList.add('hide')
    } else {
      document.getElementById('init-wrapper')?.classList.remove('hide')    }
  })
  gameFinished.subscribe(finished => {
    if (finished){
      document.querySelector('.play-again-wrapper')?.classList.remove('hide')
    } else {
            document.querySelector('.play-again-wrapper')?.classList.add('hide')

    }
  })
 
function startGame(){
  gameStarted.set(true);
}
function restartGame(){
  gameFinished.set(false)
}

document.getElementById('onePlayer')?.addEventListener('click', startGame)
document.getElementById('twoPlayer')?.addEventListener('click', startGame)
document.getElementById('threePlayer')?.addEventListener("click", startGame)
document.getElementById('playAgain')?.addEventListener("click", restartGame)
</script>

<style>

  #gameOverlay{
    width: 800px;
    height: 600px;
    border:1px solid white;
    position: absolute;
    /* z-index: 5; */
  }

  .hide{
    display: none;
  }
  h2 {
    color:white;
  }
</style>