
<div id="gameOverlay">
  <div class="livesOverlay hide">
  <div class="player-one-lives"><h2>P1 Lives <br/> <span class="p1-lives-text"></span></h2></div>
  <div class="player-two-lives"><h2>P2 Lives <br/><span class="p2-lives-text"></span></h2></div>
  <div class="player-three-lives"><h2>P3 Lives <br/> <span class="p3-lives-text"></span></h2></div>
  </div>

  <div class="init-wrapper">

<button id="onePlayer">One Player</button>
<button id="twoPlayer">Two Player</button>
<button id="threePlayer">Three Player</button>
</div>
<div class="play-again-wrapper hide">
  <button id="playAgain">Play Again</button>
</div>

</div>

<script>
  import { gameStarted, gameFinished, p1LivesText, p2LivesText, p3LivesText } from "../store";
  gameStarted.subscribe(started => {
    if (started){
      document.querySelector('.init-wrapper')?.classList.add('hide')
      document.querySelector('.livesOverlay')?.classList.remove('hide')
    } else {
      document.getElementById('init-wrapper')?.classList.remove('hide')    }
  })
  gameFinished.subscribe(finished => {
    if (finished){
      document.querySelector('.play-again-wrapper')?.classList.remove('hide')
    } else {
            document.querySelector('.play-again-wrapper')?.classList.add('hide')

    }
  })
// Update Lives
  p1LivesText.subscribe(lives => {
    const hearts = '❤️'.repeat(lives);
    document.querySelector('.p1-lives-text').innerHTML = hearts;
  })

  p2LivesText.subscribe(lives => {
    const hearts = '❤️'.repeat(lives);
    document.querySelector('.p2-lives-text').innerHTML = hearts;
  })
  

 
function startGame(){
  gameStarted.set(true);
}
function restartGame(){
  gameFinished.set(false);
}

document.getElementById('onePlayer')?.addEventListener('click', startGame)
document.getElementById('twoPlayer')?.addEventListener('click', startGame)
document.getElementById('threePlayer')?.addEventListener("click", startGame)
document.getElementById('playAgain')?.addEventListener("click", restartGame)
</script>

<style>

  #gameOverlay{
    width: 800px;
    height: 600px;
    border:1px solid white;
    position: absolute;
    /* z-index: 5; */
  }

  .player-one-lives{
    position: absolute;
    left: -110px;
  }

  .player-two-lives{
    position: absolute;
    right: -110px;
  }

  .player-three-lives{
    position: absolute; 
  left: 0; 
  right: 0; 
  bottom: -75px;
  margin-inline: auto; 
  width: fit-content;
  }

  .play-again-wrapper{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
  }
  #playAgain{
    cursor: pointer;
  }

  .hide{
    display: none;
  }
  h2 {
    color:white;
  }
</style>